
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap');

.container { 
    width: 1220px;
    height: 65px;
    margin: 0 auto;
    background-color: lightblue;
    

}   
.flex-header { display: flex; 
    align-items: center;
    justify-content: space-between;

}

.header-right {
    display: flex;
    align-items: center;
}
.ul-element {
    display: flex;
    width: 601px;
    justify-content: space-between;
    margin-right: 40px;
    color: black;
    font-size: 18px;
    font-family: "Inder", serif;
    font-weight: 400;
    font-style: normal;
}
.consulting {
    width: 184px;
    height: 65px;
    background-color: #6B77E5;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;

}
.a-clas1 {
    color: black;
    font-size: 18px;
}
.container1 {
     width: 1220px;
     height: 510px;
    margin: 0 auto;
    margin-top: 136px;
    
    border:  solid 1px black ;
}
 .wraper {
    display: flex;
    justify-content: space-between;
 }
.text-block {
    width: 348px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 41px;
}
.div-box1 {
    text-align: center;
    width: 386px;
    height: 383px;

}
.text-h3 {
    color: #37393F;
    font-size: 25px;
    margin-bottom: 16px;
    font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;

}
.text-parag {
    color: #7D7D7D;
    font-size: 18px;
    font-family: "Inder", serif;
    font-weight: 400;
    font-style: normal;
}
.span-clas1 {
    text-align: center;
    color: #6B77E5;
    font-size: 18px;
}
.h2-clas1 {
    color: #37393F;
    font-size: 18px;
    margin-bottom: 16px;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}
.h3-clas1 {
    color:#37393F;
    font-size: 40px;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;

}
.div-image-box {
    width: 511px;
    height: 270.5px;
    position: absolute;
    border: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:  0 auto ;
    text-align: center;
}

.image-div1 {
    position: relative;

}
.img-el {
    width: 100%;
}
.text-clash-2 {
    color: #37393F;
    font-size: 18px;
    margin-bottom: 16px;
}
.text-clas-h3{
    color: #37393F;
    font-size: 40px;
    margin-bottom: 21px;

} 
.text-clas-parag {
    color:#37393F ;
    font-size: 18px;
    margin-bottom: 47px;

}
.container2 {
    width: 1220px;
    height: 659px;
   margin: 0 auto;
   margin-top: 136px;
   
   border:  solid 1px black ;

}
.team-wraper {
    display: flex;
    justify-content: space-between;
}
.white-box {
    width: 341px;
    height: 114px;
    background-color: white;
    position: absolute;
    left: 22px;
    bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.team-box {
    position: relative;
}
.text-box {
    width: 348px;
    margin: 0 auto ;
    text-align: center;
    margin-bottom: 41px;
}
.name-clas1 {
    margin-bottom: 4px;
    color: #37393F;
    font-size: 25px;
    font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;

}
.name-clas2 {
    color: #7D7D7D;
    font-size: 18px;
    font-family: "Inder", serif;
    font-weight: 400;
    font-style: normal;


}